@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "MainLayout.cshtml";
}

<div class="headerloggo">
    <img src="/images/smarttimeplanner-header.svg" alt="SmartTimePlanner logo" />
</div>